/* TYPE */

body {
    font-family: 'Ubuntu', monospace;
    font-size: 14px;
    line-height: 1.5;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
    font-weight: 200;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.brand {
    font-size: 22px;
}

.nav li {
    font-size: 18px;
}

.main-content-top i {
    color: #5adae2;
    vertical-align: -10px;
    /* center icon to heading */
}

.page-header h1 {
    font-weight: bold;
}

.page-header p {
    font-size: 26px;
}

.page-header.home h1 {
    font-weight: normal;
    text-align: center;
}

.page-header.home p {
    font-size: 18px;
    font-weight: 200;
}

.page-header.home a {
    padding-left: 35px;
}

.contentbox h4 {
    font-size: 20px;
    font-weight: normal;
}

.contentbox li {
    font-size: 18px;
    font-weight: 200;
}

.contentbox i {
    color: #5adae2;
}

.footer p {
    font-size: 16px;
    font-weight: 200;
    margin-top: 0;
}

.footer ul {
    font-size: 16px;
    font-weight: 200;
}

.social-list {
    text-align: center;
}

.social-list li {
    display: inline-block;
}

.social-list i {
    background-color: #2D2D2D;
    margin: 5px 10px 0 0;
    padding: 3px;
    width: 40px;
    display: inline-block;
}

.tile {
    margin: 0 0 5px 5px;
    padding: 20px;
    text-align: center;
}

.tile p {
    margin: 0;
}

.tile i {
    font-size: 108px;
}

.team-member h1 {
    Text-align: center;
}

.team-member ul {
    text-align: right;
}

.team-member li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.team-member a {
    color: #1e1f1f;
}

.team-member i {
    background-color: #edecea;
    Color: #1e1f1f;
    font-size: 16px;
    padding: 3px;
    margin: 0;
    width: 22px;
    display: inline-block;
    text-align: center;
}

.address,
.address a {
    color: #1e1f1f;
}

.address li {
    padding-bottom: 5px;
}

.info li {
    font-size: 14px;
    background-color: #edecea;
    padding: 5px 8px;
    margin-top: 5px;
    margin-right: 5px;
}

.info i {
    color: #1e1f1f;
    display: inline-block;
    width: 22px;
    text-align: center;
}

.sidebar p {
    font-size: 13px;
    line-height: 18px;
    color: #1e1f1f;
    padding-bottom: 10px;
}

.sidebar a {
    color: #1e1f1f;
}

.sidebar li {
    font-size: 14px;
}

.sidebar {
    padding: 30px;
}


/* COLORS */

body {
    color: #999;
    background-color: #edecea;
    /* light gray */
}

h1,
h2,
h3,
h4,
aside a,
aside p,
.team-member a,
article a {
    color: #373737;
    /* charcoal gray - added to make blog links gray also*/
}

a {
    color: #fff;
    /* white */
}

.tile {
    background-color: #5adae2;
    /* turquoise */
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.header {
    background-color: #373737;
}

.main {
    background-color: #edecea;
}

.footer {
    background-color: #373737;
}

.footer h4 {
    color: #fff;
}

.footer p {
    color: #999;
}

.footer-bottom {
    background-color: #212020;
    color: #fff;
}

.footer-bottom p {
    color: #999;
}

.page-header {
    background-color: #5adae2;
    /* turquoise */
    color: white;
}

.home h1 {
    color: #fff
}


/* GRID RULES */

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.column {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.row {
    overflow: hidden;
    /* Overflow: hidden will not show extra content. We are using overflow: hidden in this context so that the element with overflow applied will extend as large as it needs to encompass child elements inside that are floated (instead of collapsing), assuming that the height isn't declared. */
}

.one-whole {
    width: 940px;
}

.three-quarters {
    width: 700px;
}

.one-quarter {
    width: 220px;
}

.one-half {
    width: 460px;
}

.two-thirds {
    width: 620px;
}

.one-third {
    width: 300px;
}

.one-sixth {
    width: 140px;
}

.alpha {
    margin-left: 0/* removes the 10px margin-left value from .column class */
}

.omega {
    margin-right: 0/* removes the 10px margin-right value from .column class */
}

nav ul li {
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    /* This resizes images according to the width of their container element. The height stays proportional to the width. This is how we resize images for a web page that is responsive. */
}

.img-float-left {
    float: left;
}


/* BOX SIZING */

html {
    -webkit-box-sizing: border-box;
    /* safari */
    -moz-box-sizing: border-box;
    /* firefox */
    box-sizing: border-box;
}


/* asterisk means everything--any element, and anything before or after any element. all the elements before and after an element. best practice to include both this and html*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    /* safari */
    -moz-box-sizing: border-box;
    /* firefox */
    box-sizing: border-box;
}


/*HEADER ELEMENTS */

.brand {
    padding-top: 45px;
    padding-bottom: 45px;
}

.nav {
    padding-top: 60px;
}

.pull-right {
    float: right;
}


/* FOOTER */

.social {
    text-align: center;
}


/* MAIN CONTENT CSS */

.page-header {
    padding-top: 30px;
    margin-bottom: 50px;
}

.page-header p {
    padding-left: 15px;
}


/* HOME PAGE CSS */

.page-header.home {
    margin-bottom: 0;
}

.message {
    background-color: #4cd2da;
    /* darker turquoise */
    padding-top: 60px;
    padding-bottom: 60px;
}

.message h3 {
    color: #fff;
}

.main-content-top h1 {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    /* added by sara */
}

.main-content-bottom {
    padding-bottom: 75px;
}

.blog-tease {
    height: 210px;
    color: #fff;
}

.blog-tease h2 {
    color: #fff;
}


/* ABOUT PAGE */

.team h1 {
    margin-bottom: 40px;
}

.team-member {
    margin-bottom: 20px;
}


/* PORTFOLIO PAGE */

.portfolio-item {
    margin-bottom: 10px;
}

.portfolio-title {
    display: none;
    /* hide portfolio image text - this is to make the text hidden so that it can come up on hover */
}


/* BLOG PAGE */

.info li {
    display: inline-block;
}

.sidebar {
    padding: 30px;
}

.recent-entries img {
    float: left;
    padding-right: 10px;
}

.photos img {
    padding-right: 10px;
    padding-bottom: 10px;
}


/* CONTACT PAGE */

.table,
.form p,
.map h2 {
    margin-left: 15px;
}


/* CONTENT BOXES */

.contentbox {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox li {
    color: #373737;
}

.contentbox-beige {
    background-color: #f9f8f8;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox-turquoise {
    background-color: #5adae2;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox>img {
    /* ">" means directly after, not just anything inside */
    float: left;
    margin-right: 15px;
}

.contentbox-beige>img {
    float: left;
    margin-right: 15px;
}


/* TYPE 
body {
    font-family: 'Ubuntu', monospace;
    font-size: 14px;
    line-height: 1.5;
}

h1 {
    font-size: 38px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
    font-weight: 200;
}
h4 {
    font-size: 18px;
}
p {
    font-size: 18px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.brand {
    font-size: 22px;
}
.nav li {
    font-size: 18px;
}
.main-content-top i {
    color: #5adae2;
    vertical-align: -10px;
   
}
.page-header h1 {
    font-weight: bold;
}
.page-header p {
    font-size: 26px;
}
.page-header.home h1 {
    font-weight: normal;
    text-align: center;
}
.page-header.home p {
    font-size: 18px;
    font-weight: 200;
}
.page-header.home a {
    padding-left: 35px;
}
.contentbox h4 {
    font-size: 20px;
    font-weight: normal;
}
.contentbox li {
    font-size: 18px;
    font-weight: 200;
}
.contentbox i {
    color: #5adae2;
}
.footer p {
    font-size: 16px;
    font-weight: 200;
    margin-top: 0;
}
.footer ul {
    font-size: 16px;
    font-weight: 200;
}
.social-list {
    text-align: center;
}
.social-list li {
    display: inline-block;
}
.social-list i {
    background-color: #2D2D2D;
    margin: 5px 10px 0 0;
    padding: 3px;
    width: 40px;
    display: inline-block;
}
.tile {
    margin: 0 0 5px 5px;
    padding: 20px;
    text-align: center;
}
.tile p {
    margin: 0;
}
.tile i {
    font-size: 108px;
}
.team-member h1 {
    Text-align: center;
}
.team-member ul {
    text-align: right;
}
.team-member li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.team-member a {
    color: #1e1f1f;
}
.team-member i {
    background-color: #edecea;
    Color: #1e1f1f;
    font-size: 16px;
    padding: 3px;
    margin: 0;
    width: 22px;
    display: inline-block;
    text-align: center;
}
.address,
.address a {
    color: #1e1f1f;
}
.address li {
    padding-bottom: 5px;
}
.info li {
    font-size: 14px;
    background-color: #edecea;
    padding: 5px 8px;
    margin-top: 5px;
    margin-right: 5px;
}
.info i {
    color: #1e1f1f;
    display: inline-block;
    width: 22px;
    text-align: center;
}
.sidebar p {
    font-size: 13px;
    line-height: 18px;
    color: #1e1f1f;
    padding-bottom: 10px;
}
.sidebar a {
    color: #1e1f1f;
}
.sidebar li {
    font-size: 14px;
}

*/