body {
    font-family: sans-serif;
}

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.column {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.row {
    overflow: hidden;
    /* Overflow: hidden will not show extra content. We are using overflow: hidden in this context so that the element with overflow applied will extend as large as it needs to encompass child elements inside that are floated (instead of collapsing), assuming that the height isn't declared. */
}

.one-whole {
    width: 940px;
}

.three-quarters {
    width: 700px;
}

.one-half {
    width: 460px;
}

.two-thirds {
    width: 620px;
}

.one-third {
    width: 300px;
}

.one-sixth {
    width: 140px;
}

.alpha {
    margin-left: 0/* removes the 10px margin-left value from .column class */
}

.omega {
    margin-right: 0/* removes the 10px margin-right value from .column class */
}

nav ul li {
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    /* This resizes images according to the width of their container element. The height stays proportional to the width. This is how we resize images for a web page that is responsive. */
}


/* BOX SIZING */

html {
    -webkit-box-sizing: border-box;
    /* safari */
    -moz-box-sizing: border-box;
    /* firefox */
    box-sizing: border-box;
}


/* asterisk means everything--any element, and anything before or after any element. all the elements before and after an element. best practice to include both this and html*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    /* safari */
    -moz-box-sizing: border-box;
    /* firefox */
    box-sizing: border-box;
}


/*HEADER ELEMENTS */

.brand {
    padding-top: 45px;
    padding-bottom: 45px;
}

.nav {
    padding-top: 60px;
}

.pull-right {
    float: right;
}


/* FOOTER */

.social {
    text-align: center;
}


/* MAIN CONTENT CSS */

.page-header p {
    padding-left: 15px;
}


/* HOME PAGE CSS */

.page-header.home {
    margin-bottom: 0;
}

.message {
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-content-top h1 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.main-content-bottom {
    padding-bottom: 75px;
}

.blog-tease {
    height: 210px;
}


/* ABOUT PAGE */

.team h1 {
    margin-bottom: 40px;
}

.team-member {
    margin-bottom: 20px;
}


/* PORTFOLIO PAGE */

.portfolio-item {
    margin-bottom: 10px;
}

.portfolio-title {
    display: none;
    /* hide portfolio image text - this is to make the text hidden so that it can come up on hover */
}


/* BLOG PAGE */

.info li {
    display: inline-block;
}

.sidebar {
    padding: 10px;
}

.recent-entries img {
    float: left;
    padding-right: 10px;
}

.photos img {
    padding-right: 10px;
    padding-bottom: 10px;
}


/* CONTACT PAGE */

.table,
.form p,
.map h2 {
    margin-left: 15px;
}
